* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Poppins', sans-serif;
    --text-color: #E1E1E6;

    --hue: 194;
    --primary-color: hsl(var(--hue), 72%, 13%);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #000000;
    margin-bottom: 5rem;
}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    padding: 2rem;
    max-width: 1120px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5.5rem auto 8.7rem;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.search input {
    background-color: #06181C;
    height: 4.8rem;
    width: 46rem;
    border: transparent;
    border-radius: .5rem;
    padding: 0 .8rem;
    color: #FFFFFF;
}

.search button {
    background-color: #065E7C;
    border-radius: 0.5rem;
    height: 4.8rem;
    width: 17rem;
    border: none;
    padding: 0 1rem;
    color: #FFFFFF;
    cursor: pointer;

    display: flex;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.search button:hover {
    background-color: #FFFFFF;
    color: #065E7C;
}

.search button svg:hover {
    fill: #065E7C;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0rem 0rem 0.2rem 0.2rem rgba(74, 128, 140, 1);
    border-radius: 0.4rem 0.4rem 0 0;
}   

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
    background: var(--primary-color);
    text-align: left;
    font-weight: bold;
    padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr:nth-child(even) {
    background: #06181C;
}

table tr:nth-child(odd) {
    background: #06161B;
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;

    color: #F75A68;
    cursor: pointer;
}